@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Lexend+Deca&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Jost', sans-serif;
    color:rgba(0,0,0,.86);
}

code {
    font-family: menlo, inconsolata, monospace;
    font-size: calc(1em - 2px);
    color: #555;
    background-color: #f0f0f0;
    padding: 0.2em 0.4em;
    border-radius: 2px;
}